body {
    font-family: Arial, sans-serif;
    background-color: #ff8585; 
    color: #333; 
    margin: 20px;
    padding: 0;
}

header {
    text-align: center;
    color: #000000; 
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    color: #000000; 
    border-top: 2px solid #000000;
    padding-top: 10px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
h2 {
    color: #000000; 
    padding-bottom: 5px;
}

img {
    width: 60px;
    display: block;
    border-radius: 8px;
    border: #ff8585 solid 2px;
}