header {
      text-align: center;
      padding: 10px 10px;
      position: relative;
      border-bottom: 2px solid #000000;
      padding-bottom: 10px;
    }

body {
    font-family: Arial, sans-serif;
    background-color: #5d478f; 
    color: #0f0f0c; 
    margin: 20px;
    padding: 0;
}

h1 {
    color: #000000; 
    text-shadow: 2px 2px 4px #aaa; 
}

nav ul {
    display: flex;              
    justify-content: center;    
    gap: 20px;               
    list-style: none;
    padding: 0
    word-spacing: 15px; 
    font-size: 32px;
    margin-top: 15px;
    text-align: center;
    list-style: none;
    
}
 
nav a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: rgb(27, 16, 16);
  font-weight: bold;
  transition: all 0.3s ease;
}


main {
    margin: 20px auto;
    padding: 20px;
    background-color: #bbbbbb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

html {
    scroll-behavior: smooth;
}

section {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    }

h2 {
    color: #000000;
    padding-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    color: #000000; 
    padding-top: 10px;
    margin-top: 20px;
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}