body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f9fa;
      transition: background-color 0.3s, color 0.3s;
    }
    header {
      background: linear-gradient(90deg, #0d6efd, #6610f2);
      color: white;
      padding: 2rem;
      text-align: center;
    }
    .card-custom {
      border: 2px solid #0d6efd;
      transition: transform 0.3s;
    }
    .card-custom:hover {
      transform: scale(1.05);
    }
    footer {
      background-color: #f8f9fa;
      color: rgb(3, 2, 2);
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }
    .dark-mode {
      background-color: #212529 !important;
      color: #f8f9fa !important;
    }